<% include header %>
    <h2>Editar operação</h2>
    <form method="POST">
        Descrição: <input type="text" name="descricao" value="<%= operacao.descricao %>">
        valor: <input type="text" name="valor" value="<%= operacao.valor %>">
        <button type="submit">Enviar</button>
    </form>
<% include footer %>
