<% include header %>
    <h2>Nova operação</h2>
    <form method="POST">
        Descrição: <input type="text" name="descricao">
        valor: <input type="text" name="valor">
        <button type="submit">Enviar</button>
    </form>
<% include footer %>
