<% include header %>
    <h2>Operações</h2>

    <% operacoes.forEach((operacao) => { %>
        <p>
            <%= operacao.descricao %> R$ <%= operacao.valor %>
            - Subtotal: R$ <%= operacao.sub %>
        </p>
    <% }) %>
<% include footer %>
