<% include header %>
    <h2>Operações</h2>
    <p>Filtrar por:
        <a href="/operacoes">Todos</a>
        <a href="/operacoes?tipo=entradas">Entradas</a>
        <a href="/operacoes?tipo=saidas">Saídas</a>
   </p>

    <% operacoes.forEach((operacao) => { %>
        <p>
            <%= operacao.descricao %> R$ <%= operacao.valor %>
            - Subtotal: R$ <%= operacao.sub %>
        </p>
    <% }) %>
<% include footer %>
